//全局变量

//左侧菜单宽度
$base-menu-width: 260px;
//左侧菜单背景颜色
$base-menu-color: #001529;
//顶部导航高度
$base-tabbar-height: 50px;
//左侧导航栏logo宽度
$base-menu-logo-width: 40px;
//左侧导航栏logo高度
$base-menu-logo-height: 40px;
//左侧导航栏标题文字大小
$base-menu-title-fontSize: 20px;
